# GCP
BILLING_ACCOUNT=your-billing-account-id-here
GCP_PROJECT_ID=sovereign-debt-observatory
GCS_BUCKET=sovereign-debt-obs-data-lake

# Airflow
AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=.

# dbt Cloud
DBT_CLOUD_API_TOKEN=your_dbt_cloud_api_token_here
DBT_CLOUD_ACCOUNT_ID=your_dbt_cloud_account_id_here
DBT_CLOUD_JOB_ID=your_dbt_cloud_job_id_here
